$primary: #dfb9df;
$primary-light: #e0c5e0;
$priary-dark: rgb(194, 140, 194);
$secondary: #344897;
$secondary-light: #6c63ff;
$secondary-light-disabled: #bfbbff;
$secondary-light2: #4940ff;
$dark: #67729D;
$placeholder-text: #5f6eaa;
$purple: #ddbbec;
$purple-light: #e1c7ff;
$white: #ffffff;
$error-message: #5c1d64;
$background-light: #fffaff;
$purple-gradient: radial-gradient(circle,
                rgb(217, 184, 255) 0%,
                rgba(210, 190, 245, 1) 100%);